In [13]:
import random
import pandas as pd

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  human
3  robot
4  human

In [14]:
one_hot_data = pd.get_dummies(data["whoAmI"], prefix = "whoAmI")
one_hot_data.head()

   whoAmI_human  whoAmI_robot
0          True         False
1          True         False
2          True         False
3         False          True
4          True         False

In [15]:
data = pd.concat([data, one_hot_data], axis = 1)
data.head()

  whoAmI  whoAmI_human  whoAmI_robot
0  human          True         False
1  human          True         False
2  human          True         False
3  robot         False          True
4  human          True         False

In [16]:
data = data.drop("whoAmI", axis = 1)
data.head()

   whoAmI_human  whoAmI_robot
0          True         False
1          True         False
2          True         False
3         False          True
4          True         False