In [1]:
import random
import pandas as pd

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  robot
3  robot
4  human

In [2]:
data["robot"] = 0
data["human"] = 0
data.head()

  whoAmI  robot  human
0  robot      0      0
1  human      0      0
2  robot      0      0
3  robot      0      0
4  human      0      0

In [3]:
data["robot"] = data["whoAmI"].apply(lambda x: 1 if x == "robot" else 0)
data["human"] = data["whoAmI"].apply(lambda x: 1 if x == "human" else 0)
data.head()

  whoAmI  robot  human
0  robot      1      0
1  human      0      1
2  robot      1      0
3  robot      1      0
4  human      0      1